<%= turbo_frame_tag(comment) do%>
  <article  class= "<%= set_comment_style(current_user&.id == comment.user_id)%>">
    <div class="text-sm">User:XXXX <%= comment.user.name %></div>
    <%# 產生星星 %>
    <% if comment.rating != 0 %>
      <div class="rating rating-sm">
        <% 5.times do |i|%>
          <input type="radio" class="pointer-events-none comment-star" <%= "checked" if  i+1 == comment.rating%>/>
        <% end %>
      </div>
    <% end %>
    <%# 評論日期 %>
    <div class="text-sm text-slate-500"><%= format_date_with_time(comment.updated_at)%></div>
    <%# 評論內文 %>
    <div><%= comment.content %></div>
    <%# Dropdown: 編輯, 刪除 %>
    <% if current_user&.id == comment.user_id %>
      <div class="absolute dropdown dropdown-left top-0.5 right-0.5">
        <label tabindex="0" class="flex flex-col pl-2 m-1 cursor-pointer">
          <div class="w-1 h-1 m-px bg-gray-600 rounded"> </div>
          <div class="w-1 h-1 m-px bg-gray-600 rounded"> </div>
          <div class="w-1 h-1 m-px bg-gray-600 rounded"> </div>
        </label>
        <ul tabindex="0" class="w-20 p-1 shadow dropdown-content menu bg-base-100 rounded-box ">
          <li class="p-0"><%= link_to "編輯", edit_comment_path(comment.id), class: "text-sm text-stone-600" %></li>
          <li class="p-0"><%= link_to "刪除", comment_path(comment.id), method: 'delete', data:{confirm: '確定刪除留言?'}, class: "text-sm text-stone-600" %></li>
        </ul>
      </div>
    <% end %>
  </article>
<% end %>
