<article  class="p-1 m-1 border rounded bg-neutral-100 border-b-slate-500">
  <div>User: <%= users.find_by(id: comment.user_id).name%></div>
  <div><%= comment.updated_at %></div>
  <div>Product.id <%= comment.product_id %></div>
  <div>Rating = <%= comment.rating %></div>
  <div>Content = <%= comment.content %></div>
  <% if user_signed_in? && current_user.id == comment.user_id %>
    <div>
      <button class="btn">編輯</button>
      <button class="btn">刪除</button>
    </div>
  <% end %>
</article>
