<%= turbo_frame_tag(@product_comment) do%>
  <%= form_with model: @product_comment , url: comment_path(params[:id]), method: 'patch' do |f| %>
    <div class="flex">
      <%= f.label "修改評論：", class: 'label'%>
      <div class="rating rating-md">
        <%= f.radio_button :rating, get_star_number(:star_0), class: "comment-star-hidden" , checked: "checked" %>
        <%= f.radio_button :rating, get_star_number(:star_1), class: "comment-star" %>
        <%= f.radio_button :rating, get_star_number(:star_2), class: "comment-star" %>
        <%= f.radio_button :rating, get_star_number(:star_3), class: "comment-star" %>
        <%= f.radio_button :rating, get_star_number(:star_4), class: "comment-star" %>
        <%= f.radio_button :rating, get_star_number(:star_5), class: "comment-star"%>
      </div>
    </div>
    <%= f.text_area :content, class: "comment-textarea  w-full"%>
    <%= link_to "取消", :back, class: "comment-btn-sm" %>
    <%= f.submit "完成", class: "comment-btn-sm" %>
  <% end %>
<% end %>
