<div class="relative flex">
  <%= render 'shared/backend_sidebar' %>
  <div class="w-5/6 ml-auto">
    <section class="w-4/6 h-full mx-auto mt-4 bg-white rounded-sm shadow-xl">
      <h1 class="pt-5 mx-10 text-2xl font-bold text-marche_backend_black">賣場簡介</h1>
      <p class="mx-10 text-xs text-gray-400">屬於你的專屬賣場</p>
      <div class="px-10 py-5 mx-auto w-9/10">
        <h2 class="w-full text-lg border-b-2 text-marche_backend_black">
          基本資料
        </h2>
        <div class="w-full m-auto">
          <%= form_with(model:@shop) do |form|%>
            <div class="flex items-center justify-center my-5">
              <%= form.label :name ,'賣場名稱', class:"w-1/4 text-marche_backend_black"%>
              <%= form.text_field :name, placeholder:"輸入您的賣場名稱", class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/2" %>
            </div>
            <div class="flex items-center justify-center my-5">
              <%= form.label :image ,'賣場LOGO', class:"w-1/4 text-marche_backend_black"%>
              <%= form.file_field :image, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/2" %>
            </div>
            <div class="flex items-center justify-center w-full my-5">
              <%= form.label :description ,'賣場介紹', class:"w-1/4 text-marche_backend_black"%>
              <%= form.text_area :description, placeholder:"輸入您的賣場資訊與敘述", class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/2" %>
            </div>
            <div class="flex items-center justify-center my-5">
              <%= form.submit "儲存", class: "rounded-sm px-2 py-1 hover:bg-red-600 text-marche_backend_white bg-red-500"%>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>