<div class="relative flex bg-blue-200">
  <section class="w-10/12 mx-auto my-20 bg-white rounded-sm shadow-xl">
    <h1 class="pt-5 mx-10 text-2xl font-bold text-marche_shop_black">新增賣場</h1>
    <p class="mx-10 text-sm text-gray-400">建立一個屬於你的賣場</p>
    <div class="px-10 py-5 mx-auto w-9/10">
      <h2 class="w-full text-xl border-b-2 text-marche_shop_black">
        基本資料
      </h2>
      <div class="w-4/5 m-auto" data-controller="user--avatar">
        <%= form_with(model:@shop) do |form|%>
          <div class="flex flex-col items-center justify-center my-5">
            <img src="" alt="" class="hidden object-cover w-full my-2 rounded aspect-1" data-user--avatar-target="preview">
            <div class="m-2 rounded-full bg-slate-300 w-fit "><%= logo(@shop, size: [400, 400]) %></div>
          </div>
          <div class="flex items-center justify-center my-5">
            <%= form.label :name ,'賣場名稱', class:"w-1/4 text-marche_shop_black"%>
            <%= form.text_field :name, placeholder:"輸入您的賣場名稱", class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/2" %>
          </div>
          <div class="flex items-center justify-center my-5">
            <%= form.label :logo, '賣場LOGO', class: "w-1/4 text-marche_shop_black" %><br />
            <%= form.file_field :logo, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/2", data: { user__avatar_target: "input" } %>
          </div>
          <div class="flex items-center justify-center w-full my-5">
            <%= form.label :description ,'賣場介紹', class:"w-1/4 text-marche_shop_black"%>
            <%= form.text_area :description, placeholder:"輸入您的賣場資訊與敘述", class: "block rounded-md border border-gray-200 outline-none px-3 pt-2 pb-16 mt-2 w-1/2" %>
          </div>
          <div class="flex items-center justify-center my-7">
            <%= form.submit "建立", class: "btn text-base bg-sky-600 border-sky-600"%>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>