<div class="relative flex">
  <%= render 'shared/shop_sidebar' %>
  <div class="w-5/6 ml-auto mt-[84px] bg-sky-100 h-screen">
    <h1 class="self-end w-5/6 pl-3 mx-auto mt-5 text-3xl font-bold text-sky-800">我的銷售</h1>
    <table class="table w-5/6 mx-auto mt-3 shadow-xl table-compact">
      <!-- head -->
      <thead class="">
        <tr class="text-center">
          <th class="text-base">商品狀態</th>
          <th class="text-base">出售時間</th>
          <th class="text-base">產品名稱</th>
          <th class="text-base">產品規格</th>
          <th class="text-base">出售數量</th>
          <th class="text-base">出售總額</th>
          <th class="text-base">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @shop_orders.each_with_index do |shop_orders, index| %>
          <tr class="text-center hover" data-controller="shop--order" data-order-product-id="<%= shop_orders.id %>"> 
            <th data-shop--order-traget="status"><%= shop_orders.shipping_status %></th>
            <td><%= format_date_with_time(shop_orders.updated_at) %></td>
            <td><%= shop_orders.product.name %></td>
            <td><%= shop_orders.spec %></td>
            <td><%= shop_orders.quantity %></td>
            <td><%= shop_orders.each_price * shop_orders.quantity %></td>
            <td>
              <button class="flex items-center justify-center w-4 h-4 p-4 my-2 border-gray-500 rounded-full hover:bg-green-600 hover:text-white" data-action="click->shop--order#sendShippedMail">
                <i class="fa-solid fa-truck"></i>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>