<% if current_page?(root_path) %>
  <nav class="fixed flex w-full bg-marche_orange z-50">
    <div class="w-full items-center flex flex-wrap justify-end content-center mx-[30px] 2xl:mx-[140px] xl:mx-[132px] lg:mx-[120px] md:mx-[116px] sm:mx-[60px]"> 
      <% if current_user&.shop&.present? %>
        <%= link_to "賣家中心", shops_path , class: "text-gray-100 text-xs mr-auto"%>
      <% else %>
        <%= link_to "賣家中心", new_shop_path , class: "text-gray-100 text-xs mr-auto"%>
      <% end %>
      <!-- 顯示使用者名稱 or 未登入字樣-->
      <div>
        <% if user_signed_in? %>
          <p class="px-4 text-xs text-marche_white"><%= current_user.email %></p>
        <% else %>
          <p class="px-4 text-xs text-marche_white">您目前尚未登入</p>
        <% end %>
      </div>
      <%= render partial: "shared/components/user_sign_in" %>
    </div>
  </nav>
<% else %>
<%# 判斷是否是登入/註冊頁面 %>
  <nav class="flex w-full bg-marche_orange">
    <% if current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
      <div class="w-full items-center flex flex-wrap justify-between content-center h-16 mx-[30px] 2xl:mx-[140px] xl:mx-[132px] lg:mx-[120px] md:mx-[116px] sm:mx-[60px]">
        <div class="flex justify-start items-center h-20">
          <%= link_to root_path do %>
            <%= image_tag "marche_logo_home.svg", class:"h-10 mr-6" %>
          <% end %>  
          <div class="flex items-center">
            <%# link_to "賣家中心", shops_path , class: "text-gray-100 text-sm w-20 ml-2"%>
          </div>
        </div>
    <% else %>
      <div class="w-full items-center flex flex-wrap justify-between content-center mx-[30px] 2xl:mx-[140px] xl:mx-[132px] lg:mx-[120px] md:mx-[116px] sm:mx-[60px]">
        <%# link_to "賣家中心", shops_path , class: "text-gray-100 text-sm mr-auto"%>
    <% end %>
      <% if current_user&.shop&.present? %>
        <%= link_to "賣家中心", shops_path , class: "text-gray-100 text-xs mr-auto" %>
      <% else %>
        <%= link_to "賣家中心", new_shop_path , class: "text-gray-100 text-xs mr-auto" %>
      <% end %>
    <!-- 顯示使用者名稱 or 未登入字樣-->
      <div class="flex justify-end items-center">
        <%= link_to "首頁", root_path , class: "px-4 text-gray-100 text-xs mr-2" %>
          <% if user_signed_in? %>
            <p class="px-4 text-xs text-marche_white"><%= current_user.email %></p>
          <% else %>
            <p class="px-4 text-xs text-marche_white">您目前尚未登入</p>
          <% end %>
        <%= render partial: 'shared/components/user_sign_in' %>
      </div>
    </div>
  </nav>
<% end %>