<div class="fixed z-30 flex w-full bg-marche_orange">
  <nav class="w-full items-center flex flex-wrap justify-end content-center mx-[30px] 2xl:mx-[140px] xl:mx-[132px] lg:mx-[120px] md:mx-[116px] sm:mx-[60px]">
    <% if current_user&.shop&.present? %>
      <%= link_to "賣家中心", shops_path , class: "hidden md:inline-block text-gray-100 text-xs mr-auto"%>
    <% else %>
      <%= link_to "賣家中心", new_shop_path , class: "hidden md:inline-block text-gray-100 text-xs mr-auto"%>
    <% end %>
    <%= link_to "首頁", root_path , class: "px-4 text-gray-100 text-xs"%>
    <!-- 顯示使用者名稱 or 未登入字樣-->
    <div>
      <% if user_signed_in? %>
        <p class="px-4 text-xs text-marche_white"><%= current_user.name %></p>
      <% else %>
        <p class="px-4 text-xs text-marche_white">您目前尚未登入</p>
      <% end %>
    </div>
    <div class="block w-6 pt-1 dropdown dropdown-end">
      <label tabindex="0" class="btn-xs btn-ghost btn-circle avatar btn ">
        <div class="items-center w-6 rounded-full ">
          <%= avatar(current_user, size: [100, 100]) %>
        </div>
      </label>
      <ul tabindex="0" class="z-40 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-60">
        <% if user_signed_in? %>
          <li class="py-1 pl-4 text-marche_orange text-md"><%= current_user.email %></li>
          <li>
            <%= link_to "我的帳戶", profile_users_path, class: "active:bg-marche_orange" %>
            <%= link_to "我的訂單", orders_path, class: "active:bg-marche_orange" %>
            <%= link_to "我的收藏", show_like_path, class: "active:bg-marche_orange" %>
            <%= link_to "登出", destroy_user_session_path, data: { turbo_method: :delete,  confirm: '是否確定登出'}, class: "active:bg-marche_orange" %>
          </li>
        <% else %>
          <li class="py-1 pl-4 text-marche_orange text-md">您現在為訪客</li>
          <li>
            <%= link_to "註冊", new_user_registration_path, class: "active:bg-marche_orange" %>
            <%= link_to "登入", new_user_session_path, class: "active:bg-marche_orange" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
