<div class="flex justify-center h-8 bg-indigo-600 navbaar-wrapper">
  <nav class="flex flex-wrap content-center">
    <%= link_to "首頁", root_path , class: "text-gray-50 text-sm p-5 link link-hover hover:no-underline"%>
    <%= link_to "註冊", new_user_registration_path , class: "text-gray-50 text-sm p-5 link link-hover hover:no-underline"%>
    <%= link_to "登入", new_user_session_path , class: "text-gray-50 text-sm p-5 link link-hover hover:no-underline"%>
    <%= link_to "登出", destroy_user_session_path, method: 'delete' , class: "text-gray-50 text-sm p-5 link link-hover hover:no-underline"%>
    <%= link_to "編輯帳號", edit_user_registration_path, class: "text-gray-50 text-sm p-5 link link-hover hover:no-underline"%>
  </nav>
</div>
