<%# 左方邊欄 %>
  <div class="fixed flex flex-col content-center w-56 mt-[84px] xl:ml-24 md:ml-16 sm:ml-10">
    <ul>
      <li class="w-3/4 mx-auto">
        <h2 class="block w-3/4 p-1 mt-2 ml-1 text-base text-sky-800">我的賣場</h2>
        <ul>
          <li>
            <span class="py-2 ml-4 border-l-2 border-gray-400"></span>
            <%= link_to "賣場總覽", shops_path, class: "mt-2 ml-12 py-1 text-sm text-gray-500 cursor-pointer hover:text-sky-700 hover:border-sky-600" %>
          </li>
          <li>
            <span class="py-2 ml-4 border-l-2 border-gray-400"></span>
            <%= link_to "賣場簡介", edit_shop_path(@shop.id), class: "mt-2 ml-12 py-1 text-sm text-gray-500 cursor-pointer hover:text-sky-700 hover:border-sky-600" %>
          </li>
        </ul>
      </li>
      <li class="w-3/4 mx-auto">
        <h2 class="block w-3/4 p-1 mt-2 ml-1 text-base text-sky-800">訂單管理</h2>
        <ul>
          <li>
            <span class="py-2 ml-4 border-l-2 border-gray-400"></span>
            <%= link_to "我的銷售", order_shop_path(@shop.id) , class: "mt-2 ml-12 py-1 text-sm text-gray-500 cursor-pointer hover:text-sky-700 hover:border-sky-600" %>
          </li>
        </ul>
      </li>
      <li class="w-3/4 mx-auto">
        <h2 class="block w-3/4 p-1 mt-2 ml-1 text-base cursor-pointer text-sky-800">商品管理</h2>
        <ul>
          <li>
            <span class="py-2 ml-4 border-l-2 border-gray-400"></span>
            <%= link_to "我的商品", products_shops_path , class: "mt-2 ml-12 py-1 text-sm text-gray-500 cursor-pointer hover:text-sky-700 hover:border-sky-600" %>
          </li>
          <li>
            <span class="py-2 ml-4 border-l-2 border-gray-400"></span>
            <%= link_to "新增商品", new_product_path , class: "mt-2 ml-12 py-1 text-sm text-gray-500 cursor-pointer hover:text-sky-700 hover:border-sky-600" %>
          </li>
        </ul>
      </li>
    </ul>
  </div>