<div class="mt-2 mb-4 border-2 border-grey">
  <div class="flex py-1 pl-3 pr-4 bg-gray-100">
    <h1 class="m-2 text-xl text-left">訂單資訊</h1>
    <% if order.payment_status == 'pending' %>
      <%= link_to order_path(order), class: "px-2 py-1 m-3 text-xs rounded text-marche_white bg-marche_orange hover:bg-marche_orange100 hover:text-slate-700 cursor-pointer align-middle flex items-center ml-auto" do%>
        <span>付款</span>
      <% end %>
    <% end %>
  </div>
  <div class="flex justify-around px-3 pt-1 m-2">
    <p class="w-1/2 text-left text-red-600">總金額</p>
    <p class="w-1/2 text-left text-red-600"><%= number_to_currency(order.total_price.floor, precision: 0) %></p>
  </div>
  <div class="flex justify-around px-3 pt-1 m-2">
    <p class="w-1/2 text-left">訂單編號</p>
    <p class="w-1/2 text-left break-words"><%= order.tracking_number %></p>
  </div>
  <div class="flex justify-around px-3 pt-1 m-2">
    <p class="w-1/2 text-left">付款狀態</p>
    <p class="w-1/2 text-left"><%= translate_payment_status(order.payment_status) %></p>
  </div>
  <div class="flex justify-around px-3 pt-1 m-2">
    <p class="w-1/2 text-left">付款方式</p>
    <p class="w-1/2 text-left">信用卡付費</p>
  </div>
  <!-- 分隔線 -->
  <div class="flex pt-1 m-2">
    <div class="w-full mx-3 mb-3 border-b"></div>
  </div>
  <!-- 訂單裡的商品 -->
  <section class="flex-row justify-around px-3 pt-1 m-2">
    <p class="w-1/2 text-left break-words"></p>
    <%= render partial: 'order_product', collection: order.order_products %>
  </section>
  <div class="flex justify-around px-3 pt-1 m-2">
    <p class="w-1/2 mt-1 text-left">出貨狀態</p>
    <p class="w-1/2 text-left"><%= translate_shipping_status(order.shipping_status) %></p>
  </div>
  <div class="flex justify-around px-3 pt-1 m-2">
    <p class="w-1/2 text-left">配送地址</p>
    <p class="w-1/2 text-sm text-left text-gray-500 break-words"><%= order.shipping_address %></p>
  </div>
  <div class="flex justify-around px-3 pt-1 m-2">
    <p class="w-1/2 text-left">收件人</p>
    <p class="w-1/2 text-left"><%= order.receiver %></p>
  </div>
  <div class="flex justify-around px-3 pt-1 m-2">
    <p class="w-1/2 text-left">備註</p>
    <p class="w-1/2 text-sm text-left text-gray-500 break-words"><%= order.note %></p>
  </div>
</div>
