<%= notice %>

<h1>交易資訊</h1>   

<p>Name: <%= @order.tracking_number %></p>
<p>Status: <%= @order.payment_status %></p>
<p>Email: <%# @order.user_id %></p>
<p>Payment_Method: <%= @order.payment_method %></p>
<p>Total: <%= @order.total_price %></p>



<%= link_to "購物車", checkout_path %>