<%= notice %>


<h1>Create Order</h1>
<%= form_with(url: 'https://ccore.newebpay.com/MPG/mpg_gateway', method: "post") do |form| %>


<input type="hidden" id="MerchantID" name="MerchantID" value="MS148637229">
<input type="hidden" id="TradeInfo" name="TradeInfo" value="<%= @form_info[:TradeInfo] %>">
<input type="hidden" id="TradeSha" name="TradeSha" value="<%= @form_info[:TradeSha] %>">
<input type="hidden" id="Version" name="Version" value="2.0">

<%= form.submit %>

<% end %>
