<%= render 'shared/flash' if flash.any? %>
<%# 這段是要送給藍新的資訊%>
<%= form_with(url: 'https://ccore.newebpay.com/MPG/mpg_gateway', method: "post") do |form| %>
  <input type="hidden" id="MerchantID" name="MerchantID" value="<%= @form_info[:MerchantID] %>">
  <input type="hidden" id="TradeInfo" name="TradeInfo" value="<%= @form_info[:TradeInfo] %>">
  <input type="hidden" id="TradeSha" name="TradeSha" value="<%= @form_info[:TradeSha] %>">
  <input type="hidden" id="Version" name="Version" value="<%= @form_info[:Version] %>">
  <%# 客戶資訊 %>
  <div class="flex justify-around px-3 pt-2">
    <p class="w-1/2 text-lg text-center">收件人</p>
    <p class="w-1/2 text-lg text-center"><%= @order.receiver %></p>
  </div>
  <div class="flex justify-around px-3 pt-2">
    <p class="w-1/2 text-lg text-center">配送地址</p>
    <p class="w-1/2 text-lg text-center"><%= @order.shipping_address %></p>
  </div>
  <div class="flex justify-around p-2 px-3">
    <p class="w-1/2 text-lg text-center">配送方式</p>
    <p class="w-1/2 text-lg text-center"><%= @order.shipping_status %></p>
  </div>
  <div class="flex justify-around p-2 px-3">
    <p class="w-1/2 text-lg text-center">備註</p>
    <p class="w-1/2 text-lg text-center"><%= @order.note %></p>
  </div>
  <div class="flex justify-around">
    <div class="flex items-center justify-around w-1/2 p-2 px-3">
      <%= link_to "上一頁", :back, class: "border text-green-500 bg-green-50 hover:cursor-pointer p-2 m-2 rounded hover:bg-green-100" %>
    </div>
    <div class="flex items-center justify-around w-1/2 p-2 px-3">
      <%= form.submit "付款", class: "border text-green-500 bg-green-50 hover:cursor-pointer p-2 m-2 rounded hover:bg-green-100" %>
    </div>
  </div>
<% end %>
