<div class="container flex items-center justify-start w-11/12 m-2" data-controller="cart--item">
  <%= form.check_box "#{cart_product.id}", class: "checkbox checkbox-sm rounded m-3", data: {cart__item_target: "checkbox"} %>
  <div class="w-20 h-20 m-3 bg-slate-300">
    <img src="https://picsum.photos/80/80/?random=12" class=''>
  </div>
  <h3 class="w-64"><%= cart_product.sale_info.product.name %></h3>
  <%# 規格 %>
  <div class="dropdown">
    <label tabindex="0" class="m-1 spec-btn"><%= cart_product.sale_info.spec %></label>
    <div tabindex="0" class="w-64 p-2 shadow dropdown-content card card-compact bg-primary text-primary-content">
      <div class="card-body">test</div>
    </div>
  </div>
  <%# 單價 %>
  <div class="m-1">$<%= cart_product.sale_info.price %></div>
  <%# 數量 %>
  <div class="flex items-center m-2" data-cart--item-target="inputArea">
    <button class="quantity-btn-left-arrow" data-action="click->cart--item#decrement">－</button>
    <input type="number" class="quantity-btn-center-input" value="<%= cart_product.quantity %>" data-cart--item-target="quantity" data-action="change->cart--item#updateQuantity" data-storage="<%=cart_product.sale_info.storage%>">
    <button class="quantity-btn-right-arrow" data-action="click->cart--item#increment">＋</button>
  </div>
  <%# 總價 ＝ 單價 x 數量 %>
  <div class="flex items-center justify-end w-20 m-2 text-amber-500" data-cart--item-target="itemTotalPrice" data-unit-price="<%= cart_product.sale_info.price %>">$?</div>
  <%= link_to cart_destroy_path(cart_product.id), method: :delete, data: {confirm: "確定要刪除該商品？"} do %>
    <i class="p-1 m-1 text-red-500 rounded bg-neutral-100 drop-shadow fa-regular fa-trash-can"></i>
  <% end %>
</div>
