<%= render partial: 'layouts/page_header', locals: {ransack_q: @ransack_q} %>
<section class="container mx-auto mt-6 border bg-gay-200">
  <%= form_with url: checkout_path, method: :get, data: { turbo: "false", controller: "cart--form", cart_id: current_user.cart.id} do |form| %>
    <div class="flex items-center justify-start bg-gray-100 h-14">
      <p class="w-1/2 text-sm text-center">商品</p>
      <div class="flex w-1/2 ">
        <p class="w-1/4 text-sm text-center">單價</p>
        <p class="w-1/4 text-sm text-center">數量</p>
        <p class="w-1/4 text-sm text-center">總計</p>
        <p class="w-1/4 text-sm text-center">操作</p>
      </div>
    </div>
    <%= render partial:'carts/item', collection: @cart_products , as: :cart_product%>
    <div class="container flex items-center h-20 bg-gray-100">
      <div class="flex items-center ml-2 mr-5">
        <input type="checkbox"
          class="ml-6 mr-2 border-black checkbox checkbox-primary" data-action="change->cart--form#checkAllBox"/>
        <p class="text-sm">全選 (<%= @cart_products.count %>)</p>
      </div>
      <div class="flex items-center m-2">
        <button class="flex items-center justify-center w-5 h-5 p-3 m-2 border border-gray-600 rounded hover:bg-red-500 hover:text-white" data-action="click->cart--form#clearAllCartItems">
          <i class="fa-solid fa-x"></i>
        </button>
        <p class="text-sm">清空購物車</p>
      </div>
      <p class="mr-3 text-sm w-fit ms-auto">總金額 (<span data-cart--form-target="productNum">0</span> 個商品) :<span class="m-2 text-lg font-semibold text-orange-600" data-cart--form-target="totalPrice">$0</span></p>
      <%= form.submit "去買單", class: "bg-orange-500 hover:bg-orange-600 hover:cursor-pointer p-2 m-2 rounded text-white text-sm w-28"%>
    <% end %>
  </div>
</section>
