<%= render partial: 'layouts/page_header', locals: {ransack_q: @ransack_q, user_cart_product_num: @user_cart_product_num} %>
<%# 標題區 %>
<div class="flex items-center w-full mb-1 ml-2 mt-36 sm:mx-auto sm:w-10/12">
  <%# 標題 %>
  <%= link_to category_path(@parent_category), class: "mr-4" do %>
    <h1 class="text-xl font-bold text-marche_black">分類：<%= @parent_category.content%></h1>
  <% end %>
  <%# 麵包屑 %>
  <div class="text-sm breadcrumbs">
    <ul>
      <li><%= link_to '首頁', root_path %></li>
      <li><%= link_to @parent_category.content, category_path(@parent_category) %></li>
      <% if @recent_child.present? %>
        <li><%= @child_content %></li>
      <% end %>
      <% if @recent_order.present? %>
        <li><%= get_order_bread_name(@recent_order)%></li>
      <% end %>
    </ul>
  </div>
</div>
<%# 商品＆篩選器呈現區域 %>
<div class="flex w-full mx-auto sm:w-10/12" data-controller="category--order" data-parent-category-id=<%= @parent_category.id%> data-recent-order="<%= @recent_order %>" data-recent-child="<%= @recent_child %>">
  <%# 左方篩選器 %>
  <div class="flex flex-col my-4 ml-2 w-30 sm:ml-0">
    <p class="p-1 font-bold">所有分類</p>
    <span class="h-px w-28 bg-marche_pearl"></span>
    <ul>
      <%= render partial: 'category_list', collection: @child_categories, as: :child_category,  locals:{parent_category: @parent_category} %>
    </ul>
  </div>
  <%# 右側商品區 %>
  <section class="w-full">
    <%# 上方篩選器 %>
    <div class="flex items-center justify-center p-2 mx-auto my-4 border bg-marche_white">
      <span class="px-2 py-1 mx-1 text-xs border sm:px-4 sm:text-base sm:mx-2">篩選</span>
      <%= link_to '最新', category_path(@parent_category, order: 'new'), class: "sm:text-base sm:mx-2 mx-1 py-1 sm:px-4 border text-xs px-2", data: {action: "click->category--order#changeRecentOrderByNewLink", turbo: "false"}%>
      <select class="max-w-xs ml-2 w-36 sm:w-44 select select-bordered" data-category--order-target="selectArea" data-action="change->category--order#changeRecentOrderBySelector">
        <option disabled selected data-category--order-target="optionDefault">價格</option>
        <option value="price_asc" data-category--order-target="optionAsc">價格： 低到高</option>
        <option value="price_desc" data-category--order-target="optionDesc">價格： 高到低</option>
      </select>
    </div>
    <%# 商品顯示區 %>
    <% if @products.blank? %>
      <div class="flex flex-col justify-center mx-auto mb-20 border-b my-7">
        <i class="m-5 text-6xl fa-solid fa-magnifying-glass text-marche_orange100"></i>
        <p class="flex flex-col mb-5 text-center">
          <span class="text-xl text-marche_black">該分類還沒有商品</span>
        </p>
      </div>
    <% else %>
      <div class="grid grid-cols-2 gap-4 mx-auto mb-20 sm:grid-cols-3 lg:grid-cols-5 md:grid-cols-4 xl:grid-cols-6">
        <%= render partial:'products/product',collection: @products, as: :product %>
      </div>
    <% end %>
  </section>
</div>
