<%= form_with(model:product, class: "contents", data: { turbo: false }) do |form| %>
  <%= render 'shared/error_message', record: product %>
  <section class="p-3 my-3 bg-white shadow">
    <h2 class="text-xl font-normal">基本資料</h2>
    <div class="my-5">
      <%= form.label :name ,'商品名稱'%>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <h2>分類</h2>
      <%= form.select :category_id, parent_categories, { prompt: "請選擇" }, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2'  %>
      <%= form.select :category_id, sub_categories, { prompt: "請選擇" }, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2'  %>
    </div>
    
    <div class="my-5">
      <%= form.label :description, '商品描述' %>
      <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </section>

  <section class="mb-3 bg-white shadow">
    <div class="grid grid-cols-2 p-3 border rounded-md shadow">
      <%= form.fields_for :sale_infos do |sale_info| %>
        <%= sale_info.label :spec, '規格', class: "px-3 py-2" %>
        <%= sale_info.text_field :spec, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <%= sale_info.label :price, '價格', class: "px-3 py-2 mt-2" %>
        <%= sale_info.number_field :price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
        <%= sale_info.label :storage, '商品庫存', class: "px-3 py-2 mt-2" %>
        <%= sale_info.number_field :storage, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
      <% end %> 
    </div>
  </section>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
