<section class="flex flex-col justify-around px-4 py-2">
  <%# 商品名稱 %>
  <div class="">
    <strong class="block mb-1 text-xl font-normal "><%= product.name %></strong>
  </div>
  <div class="flex items-center w-fit">
    <div class="rating rating-xs">
      <p class="mr-1.5 text-xs text-rose-600"><span class="text-xs text-rose-600"><%= @average_rating %></span>/5</p>
      <% 5.times do |i|%>
        <input type="radio" class="text-xs pointer-events-none comment-star bg-rose-600 checked:bg-rose-500" <%= "checked" if  i+1 == @average_rating%>/>
      <% end %>
    </div>
  </div>
  <%# 價格 %>
  <div class="px-2 py-1 my-5 align-middle bg-gray-50">
    <strong class="block mb-1 text-4xl font-bold text-red-700" >$<%= sale_info.price %></strong>
  </div>
  <%# 規格 %>
  <div class="flex flex-wrap mb-5">
    <% @spec_all.each do |s| %>
        <%= link_to (product_path(product, saleinfo: s.id )) do %>
          <% if s.id == sale_info.id %>
            <div class="block px-2 py-1 mb-2 mr-3 font-medium text-gray-900 border border-red-600"><%= s.spec %></div>
          <% else %>
            <div class="block px-2 py-1 mb-2 mr-3 font-medium text-gray-900 border"><%= s.spec %></div>
          <% end %>
        <% end %>
    <% end %>
  </div>
  <%# 數量框 %>
  <%= form_with(model: cart_product, url: cart_path, method: :post, data: { turbo: false, controller: "product--cart-product" }) do |form| %>
    <div class="flex mb-5 mb-10">
      <%= form.hidden_field :sale_info_id, value: sale_info.id, data: { product__cart_product_target: "saleInfoId" } %>
      <div class="flex items-center">
        <p class="text-xs text-gray-500" >數量：</p>
        <%# Quantity_button %>
        <div class="flex items-center m-2" data-product--cart-product-target="inputArea">
          <button class="quantity-btn-left-arrow" data-action="click->product--cart-product#decrement">－</button>
            <%= form.number_field :quantity, data: { product__cart_product_target: "quantity", action:"change->product--cart-product#updateQuantity" }, class: "quantity-btn-center-input"%>
          <button class="quantity-btn-right-arrow" data-action="click->product--cart-product#increment">＋</button>
        </div>
        <p data-product--cart-product-target="storage" class="text-xs text-gray-500">還剩<%= sale_info.storage%>件</p>
      </div>
    </div >
    <%= form.submit "加入購物車", class: "bg-orange-500 text-white px-4 py-2 rounded-xs hover:bg-orange-600", data: { action: "click->product--cart-product#send"}, remote: true %>
  <% end %>
</section>
