<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">商品名稱:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">描述:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">價格:</strong>
    <%= product.price %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">庫存:</strong>
    <%= product.inventory %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">分類:</strong>
    <%= product.category %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">商品狀態:</strong>
    <%= product.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "檢視商品", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to '編輯商品', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
