<%# sale_info欄位 %>
<div class="flex w-full">
  <div class="flex flex-col w-1/3 pr-2">
    <%= sale_info.label :spec, '規格', class: "text-center " %>
    <%= sale_info.text_field :spec, class: "shadow rounded-md border border-gray-200 pl-2" %>
  </div>
  <div class="flex flex-col w-1/3 pr-2">
    <%= sale_info.label :price, '價格', class: "text-center " %>
    <%= sale_info.number_field :price, class: "shadow rounded-md border border-gray-200 pl-2" %>
  </div>
  <div class="flex flex-col w-1/3 ">
    <%= sale_info.label :storage, '商品庫存', class: "text-center " %>
    <%= sale_info.number_field :storage, class: "shadow rounded-md border border-gray-200" %>
  </div>
</div>  
<%# X按鈕 %>
<button class="absolute bg-orange-400 btn-xs btn-circle -top-4 -right-4" data-action="click->product--sale-info#decrease">
  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
</button>    