<%= render partial: 'layouts/page_header', locals: {ransack_q: @ransack_q} %>
<%= render 'shared/flash' if flash.any? %>
<%# Banner%>
<div class="container w-full mx-auto my-10 sm:w-10/12">
  <div class="slider">
    <div class="w-full cursor-pointer">
      <%= link_to category_path(86) do%>
        <%= image_tag "marche_ad/ad01.png" ,class: "w-full", alt: "marche_ad1" %>
      <% end %>
    </div>
    <div class="w-full cursor-pointer">
      <%= link_to category_path(86) do%>
        <%= image_tag "marche_ad/ad02.png" ,class: "w-full", alt: "marche_ad2" %>
      <% end %>
    </div>
    <div class="w-full cursor-pointer">
      <%= link_to category_path(86) do%>
        <%= image_tag "marche_ad/ad03.png" ,class: "w-full", alt: "marche_ad3" %>
      <% end %>
    </div>
    <div class="w-full cursor-pointer">
      <%= link_to category_path(86) do%>
        <%= image_tag "marche_ad/ad04.png" ,class: "w-full", alt: "marche_ad4" %>
      <% end %>
    </div>
  </div>
</div>



<%# 商品分類 %>
<section class="flex flex-col w-full mx-auto my-6 sm:w-10/12">
  <h2 class="self-start pl-2 text-xl font-bold text-marche_orange sm:pl-0">商品分類</h2>
  <ul class="grid grid-cols-6 md:grid-cols-8 md: lg:grid-cols-11">
    <%= render partial: 'category', collection: @root_categories, as: :category %>
  </ul>
</section>
<%# 熱門商品%>
<div class="container w-full mx-auto my-10 sm:w-10/12">
  <h2 class="self-end pl-2 mb-2 text-xl font-bold text-marche_orange sm:pl-0">好評商品</h2>
  <div class="slider_hot">
    <%= render partial:'product', collection: @hot_products, as: :product %>
  </div>
</div>
<%# 最新商品%>
<div class="container w-full mx-auto my-10 sm:w-10/12">
  <h2 class="self-end pl-2 mb-2 text-xl font-bold text-marche_orange sm:pl-0">最新商品</h2>
  <div class="slider_hot">
    <%= render partial:'product', collection: @new_products, as: :product %>
  </div>
</div>
<%# 商品列表 %>
<div class="flex justify-between w-full mx-auto sm:w-10/12">
  <h2 class="self-end pl-2 mb-2 text-xl font-bold text-marche_orange sm:pl-0">推薦商品</h2>
</div>
<div class="grid w-full grid-cols-2 gap-4 mx-auto sm:w-10/12 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">
  <%= render  @product_records %>
</div>
<div class="flex justify-center mx-auto mt-6 mb-4"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
