<header class="relative w-full h-16 bg-indigo-600">
  <section class="absolute left-0 mt-1 mb-3 ml-12">
    <img src="https://picsum.photos/id/106/144/48/">
  </section>
  <div class="absolute mt-1 mb-3 left-1/3">
    <%= form_with url: search_path, method: 'get' do |form|%>
      <%= form.text_field :keyword, class: "w-96 rounded-lg" %>
      <%= form.submit "Search", name: '', class: "btn ml-1" %>
    <% end %>
  </div>
  <div class="absolute right-0 mt-1 mr-12">
    <%= link_to '購物車', new_cart_path, class: "btn" %>
  </div>
</header>
<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

<%# banner %>
<div class="w-11/12 mx-auto mt-6 carousel">
  <div id="item1" class="w-full carousel-item">
    <img src="https://picsum.photos/1000/200/?random=1" class="w-full" />
  </div> 
  <div id="item2" class="w-full carousel-item">
    <img src="https://picsum.photos/1000/200/?random=2" class="w-full" />
  </div> 
  <div id="item3" class="w-full carousel-item">
    <img src="https://picsum.photos/1000/200/?random=3" class="w-full" />
  </div> 
  <div id="item4" class="w-full carousel-item">
    <img src="https://picsum.photos/1000/200/?random=4" class="w-full" />
  </div>
</div> 
<div class="flex justify-center w-full gap-2 py-2">
  <a href="#item1" class="btn btn-xs">1</a> 
  <a href="#item2" class="btn btn-xs">2</a> 
  <a href="#item3" class="btn btn-xs">3</a> 
  <a href="#item4" class="btn btn-xs">4</a>
</div>
  <%= render 'shared/flash' if flash.any? %>

<%# 商品分類 %>
  <section class="flex justify-center w-10/12 mx-auto my-6">
    <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=11" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-1</p>
    </div>
        <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=12" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-2</p>
    </div>
        <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=13" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-3</p>
    </div>
        <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=14" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-4</p>
    </div>
        <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=15" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-5</p>
    </div>
        <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=16" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-6</p>
    </div>
        <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=17" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-7</p>
    </div>
        <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=18" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-8</p>
    </div>
        <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=19" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-9</p>
    </div>
        <div class="w-24">
      <img src="https://picsum.photos/56/56/?random=20" class='mx-auto border-2 border-gray-300 rounded-lg w-14'>
      <p class="text-xs text-center">商品分類-10</p>
    </div>
  </section>

<%# 商品列表 %>
  <div class="flex justify-between w-11/12 mx-auto">
    <h1 class="self-end mb-1 text-xl font-bold text-indigo-600">商品列表</h1>
    <%= link_to '新增商品', new_product_path, class: "self-end mb-2 py-1 btn btn-primary" %>
  </div>

  <div class="grid w-11/12 gap-2 mx-auto sm:grid-cols-3 lg:grid-cols-5 md:grid-cols-4 xl:grid-cols-6">
    <%= render  @products %>
  </div>
</div>