<%= render partial: 'layouts/page_header', locals: {ransack_q: @ransack_q} %>
<%= render 'shared/flash' if flash.any? %>
<%# Banner%>
<div class="container w-10/12 mx-auto my-10">
  <div class="slider">
    <div class="w-full">
      <img src="https://picsum.photos/800/200/?random=1" class="w-full" alt="pic-1">
    </div>
    <div class="w-full">
      <img src="https://picsum.photos/800/200/?random=2" class="w-full" alt="pic-2">
    </div>
    <div class="w-full">
      <img src="https://picsum.photos/800/200/?random=3" class="w-full" alt="pic-3">
    </div>
    <div class="w-full">
      <img src="https://picsum.photos/800/200/?random=4" class="w-full" alt="pic-4">
    </div>
  </div>
</div>
<%# 商品分類 %>
<section class="flex flex-col w-10/12 mx-auto my-6">
  <header>
    <h2>商品分類</h2>
  </header>
  <ul class="flex flex-wrap">
    <%= render partial: 'category', collection: @categories, as: :category %>
  </ul>
</section>
<%# 商品列表 %>
<div class="flex justify-between w-10/12 mx-auto">
  <h1 class="self-end mb-2 text-xl font-bold text-marche_orange">商品列表</h1>
  <%= link_to '新增商品', new_product_path, class: "self-end mb-2 btn bg-marche_orange hover:bg-marche_orange100 border-none font-normal" %>
</div>
<div class="grid w-10/12 gap-4 mx-auto grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 md:grid-cols-4 xl:grid-cols-6">
  <%= render  @products %>
</div>
