<%= render partial: 'layouts/page_header', locals: {ransack_q: @ransack_q} %>
<section class="w-9/12 mx-auto" data-controller="product--order" data-recent-order="<%= @recent_order%>">
  <%# 標題 %>
  <h1 class="mt-8 mb-1 mr-4 text-xl font-bold text-marche_black">搜尋結果：<%= @search_keyword %> </h1>
  <%# 麵包屑 %>
  <div class="text-sm breadcrumbs">
    <ul>
      <li><%= link_to '首頁', root_path %></li>
      <li><%= params[:q][:name_cont] %></li>
      <% if @recent_order.present? %>
        <li><%= get_order_bread_name(@recent_order)%></li>
      <% end %>
    </ul>
  </div>
  <%# 關鍵字搜尋不到結果區域 %>
  <% if @no_search_result %>
    <div class="flex flex-col justify-center mb-3 border-b">
      <i class="m-5 text-6xl fa-solid fa-magnifying-glass text-marche_orange100"></i>
      <p class="flex flex-col mb-5 text-center">
        <span class="text-xl text-marche_black">找不到結果</span>
        <span class="text-xl text-marche_black">嘗試不同或更常見的關鍵字</span>
      </p>
    </div>
    <p class="mb-3">查看最新商品 > </p>
  <% end %>
  <%# 上方篩選器 %>
  <% if @no_search_result == false %>
    <div class="flex items-center justify-center mx-auto bg-marche_white">
      <span class="px-3 py-2 my-5 mr-2 text-xs border sm:text-base">篩選</span>
      <%= link_to '最新', search_path(order: 'new'), class: " border text-xs sm:text-base mr-2 px-3 py-2 my-5", data: {action: "click->product--order#changeRecentOrderByNewLink", turbo: "false"}%>
      <select class="max-w-xs w-44 select select-bordered" data-product--order-target="selectArea" data-action="change->product--order#changeRecentOrderBySelector">
        <option disabled selected data-product--order-target="optionDefault">價格</option>
        <option value="price_asc" data-product--order-target="optionAsc">價格： 低到高</option>
        <option value="price_desc" data-product--order-target="optionDesc">價格： 高到低</option>
      </select>
    </div>
  <% end %>
  <%# 商品顯示區 %>
  <div class="grid gap-4 mx-auto sm:grid-cols-3 lg:grid-cols-4 md:grid-cols-4 xl:grid-cols-5">
    <%= render @products %>
  </div>
</section>
