<%= render partial: 'layouts/page_header', locals: {ransack_q: @ransack_q} %>
<div class="flex w-full max-w-2xl mx-auto">
  <div class="w-full mx-auto">
    <div class="w-full p-3 mx-auto my-3">
      <%= render 'shared/flash' if flash.any? %>
      <div class="flex items-center p-2 mb-1"><i class="mr-1 fa-solid fa-backward text-zinc-800"></i><%= link_to '上一頁', :back, class: 'border-b-0.5 text-zinc-800 font-bold' %></div>
      <%# 商品基本欄位 %>
      <div class="grid flex-wrap w-full grid-cols-1 sm:grid-cols-2 sm:flex-none">
        <%# 圖片 %>
        <header class="flex-wrap mr-0 md:mr-5">
          <div class="mx-auto mb-2 bg-gray-400 w-80 h-80 rounded-xl">
            <%# 目前只能丟出一張 %>
            <%= product_image(@product)%>
          </div>
          <%# 喜歡功能 %>
          <div data-controller="product--like" data-product-id="<%=@product.id%>" data-user-like="<%=current_user&.like_product?(@product)%>" class="p-2">
            <i class="cursor-pointer fa-regular fa-heart fa-xl text-rose-600 hover:scale-125" data-action="click->product--like#like_product" data-product--like-target="heart"></i>
            <span>收藏商品(<span data-product--like-target="amount"><%= @product.product_likes.count%></span>)</span>
          </div>
        </header>
        <%# 資訊詳情 %>
        <%= render partial: 'products/info', locals: {sale_info: @sale_info, product: @product, cart_product: @cart_product, average_rating: @average_rating, spec_all: @spec_all} %>
      </div>
    </div>
    <%# 商品規格 %>
    <section class="p-3 mb-3">
      <h2 class="block py-1 mb-1 text-lg font-bold border-b-2">商品規格</h2>
      <div class="flex my-2">
        <span class="block text-gray-400">分類:</span>
        <div class="ml-8"><%= @main_category.content %><%= @subcategory.content %></div>
      </div>
      <div class="flex mb-2">
        <span class="block text-gray-400">品牌:</span>
        <div class="ml-8"><%= @product.property&.brand %></div>
      </div>
      <div class="flex mb-2">
        <span class="block text-gray-400">尺寸:</span>
        <div class="ml-8"><%= @product.property&.size %></div>
      </div>
      <div class="flex mb-2">
        <span class="block text-gray-400">重量:</span>
        <div class="ml-8"><%= @product.property&.weight %></div>
      </div>
    </section>
    <%# 商品詳情 %>
    <section class="p-3 mb-3">
      <div class="mb-5">
        <h2 class="block py-1 mb-1 text-lg font-bold border-b-2">商品詳情</h2>
        <%= @product.description %>
      </div>
    </section>
  </div>
</div>
<%# Comment %>
<div class="max-w-2xl p-3 mx-auto">
  <%# 留言輸入區 %>
  <h2 class="py-1 m-1 text-lg font-bold ">商品評價</h2>
  <%= render partial: 'comments/comment_ranking', locals: {average_rating: @average_rating, product: @product} %>
  <% if user_signed_in? && !@contain_comments && @contain_orders %>
    <%= form_with model: @product_comment, url: product_comments_path(@product.id), id: 'comment-input' do |f| %>
      <div class="flex">
        <%= f.label "留下評論：", class: 'label'%>
        <div class="rating rating-md">
          <%= f.radio_button :rating, 0, class: "comment-star-hidden" , checked: "checked" %>
          <%= f.radio_button :rating, 1, class: "comment-star" %>
          <%= f.radio_button :rating, 2, class: "comment-star" %>
          <%= f.radio_button :rating, 3, class: "comment-star" %>
          <%= f.radio_button :rating, 4, class: "comment-star" %>
          <%= f.radio_button :rating, 5, class: "comment-star"%>
        </div>
      </div>
      <div class="flex items-end">
        <%= f.text_area :content, class: "comment-textarea w-full max-w-xs resize-none"%>
        <%= f.submit "Send", class: "comment-btn-sm" %>
      </div>
    <% end %>
  <% end %>
  <%# 當前產品評論 %>
  <section>
    <h3 class="m-2">評論：</h3>
    <div id="comment-list">
      <%= render partial: 'comments/comment', collection: @comment_records %>
    </div>
    <div class="flex justify-center my-4"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
  </section>
</div>
