<%= render partial: 'layouts/page_header', locals: {ransack_q: @ransack_q} %>
<div class="flex w-full max-w-2xl mx-auto">
  <div class="w-full mx-auto">
    <div class="w-full p-3 mx-auto my-3">
      <%= render 'shared/flash' if flash.any? %>
      <%# 商品基本欄位 %>
      <div class="flex grid w-full grid-cols-2">
        <%# 圖片 %>
        <header class="mr-5">
          <div class="mb-2 bg-gray-400 w-100 h-100">
          <%# 目前只能丟出一張 %>
            <%= image(@product) %>
          </div>
        <%# 喜歡功能 %>
        <div data-controller="product--like" data-product-id="<%=@product.id%>" data-user-like="<%=current_user&.like_product?(@product)%>">
          <i class="fa-regular fa-heart fa-xl text-rose-600 hover:animate-bounce" data-action="click->product--like#like_product" data-product--like-target="heart"></i>
          <span>Like商品(<span data-product--like-target="amount"><%= @product.product_likes.count%></span>)</span>
        </div>
        </header>
        <%# 資訊詳情 %>
        <%= render partial: 'products/info', locals: {sale_info: @sale_info, product: @product, cart_product: @cart_product} %>
      </div>
      
    </div>
    <%# 商品規格 %>
    <section class="p-3 mb-3">
      <h2 class="block py-1 mb-1 text-lg font-bold border-b-2">商品規格</h2>
      <div class="flex my-2">
        <span class="block text-gray-400">分類:</span>
        <div class="ml-8"><%= @main_category.content %>><%= @subcategory.content %></div>
      </div>
      <div class="flex mb-2">
        <span class="block text-gray-400">品牌:</span>
        <div class="ml-8"><%= @property.brand %></div>
      </div>
      <div class="flex mb-2">
        <span class="block text-gray-400">尺寸:</span>
        <div class="ml-8"><%= @property.size %></div>
      </div>
      <div class="flex mb-2">
        <span class="block text-gray-400">重量:</span>
        <div class="ml-8"><%= @property.weight %></div>
      </div>
    </section>
    <%# 商品詳情 %>
    <section class="p-3 mb-3">
      <div class="mb-5">
        <h2 class="block py-1 mb-1 text-lg font-bold border-b-2">商品詳情</h2>
        <%= @product.description %>
      </div>
    </section>
  </div>
</div>
<%# Comment %>
<div class="max-w-2xl p-3 mx-auto">
  <%# 留言輸入區 %>
  <h2 class="py-1 m-1 text-lg font-bold ">商品評價</h2>
  <%= render partial: 'comments/comment_ranking', locals: {average_rating: @average_rating, product: @product} %>
  <% if user_signed_in? %>
    <%= form_with model: @product_comment, url: product_comments_path(@product.id) do |f| %>
      <div class="flex">
        <%= f.label "留下評論：", class: 'label'%>
        <div class="rating rating-md">
          <%= f.radio_button :rating, get_star_number(:star_0), class: "comment-star-hidden" , checked: "checked" %>
          <%= f.radio_button :rating, get_star_number(:star_1), class: "comment-star" %>
          <%= f.radio_button :rating, get_star_number(:star_2), class: "comment-star" %>
          <%= f.radio_button :rating, get_star_number(:star_3), class: "comment-star" %>
          <%= f.radio_button :rating, get_star_number(:star_4), class: "comment-star" %>
          <%= f.radio_button :rating, get_star_number(:star_5), class: "comment-star"%>
        </div>
      </div>
      <div class="flex items-end">
        <%= f.text_area :content, class: "comment-textarea w-full max-w-xs"%>
        <%= f.submit "Send", class: "comment-btn-sm" %>
      </div>
    <% end %>
  <% end %>
  <%# 當前產品評論 %>
  <section>
    <h3 class="m-2">評論：</h3>
    <div id="comment-list">
      <%= render partial: 'comments/comment', collection: @comment_records %>
    </div>
    <div class="flex justify-center my-4"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
  </section>
</div>
