<div class="flex w-full max-w-2xl mx-auto">
  <div class="w-full mx-auto">
    <%= render 'shared/flash' if flash.any? %>
    <h1 class="self-end mt-5 mb-2 text-xl font-bold text-marche_orange" >檢視商品</h1>
    <div class="flex ">
      <header class="mr-5">
        <div>
          <img src="https://fakeimg.pl/350x200/ff0000,128/000,255" class="w-full">
        </div>
      </header>
      <div>
        <p class="my-5">
          <strong class="block mb-1 font-medium">商品名稱:</strong>
          <%= @product.name %>
        </p>
        <p class="my-5">
          <strong class="block mb-1 font-medium" >價格:</strong>
          <%= @sale_info.price %>
        </p>
        <p class="my-5">
          <%= form_with(model: @cart_product, url: cart_path, method: :post, data: { turbo: false, controller: "product--cart-product" }) do |form| %>
            <div class="flex">
              <%= form.hidden_field :sale_info_id, value: @sale_info.id, data: { product__cart_product_target: "saleInfoId" } %>
              <%= form.number_field :quantity, data: { product__cart_product_target: "quantity" } %>
            </div>
            <p data-product--cart-product-target="storage" >還剩<%= @sale_info.storage%>件</p>
            <%= form.submit "加入購物車", class: "ml-4 bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600", data: { action: "click->product--cart-product#send"}, remote: true %>
            
          <% end %>

          <%# 測試 %>
          <%# <button data-controller="product--cart-product" data-product--cart-product-target="message" data-action="click->product--cart-product#click">測試</button> %>
        </p>
      </div>
    </div>
    <section class="my-5">
      <strong class="block mb-1 font-medium">規格:</strong>
      <%= @sale_info.spec %>
    </section>
    <section class="my-5">
      <strong class="block mb-1 font-medium">描述:</strong>
      <%= @product.description %>
    </section>
  </div>
</div>
<%# 喜歡功能 %>
<div data-controller="product--like" data-product-id="<%=@product.id%>" data-user-like="<%=current_user&.like_product?(@product)%>">
  <i class="fa-regular fa-heart fa-xl text-rose-600 hover:animate-bounce" data-action="click->product--like#like_product" data-product--like-target="heart"></i>
  <span>Like商品(<span data-product--like-target="amount"><%= @product.product_likes.count%></span>)</span>
</div>
<%# Comment %>
<div class="max-w-2xl mx-auto ">
  <%# 留言輸入區 %>
  <h2 class="m-1 text-lg font-bold">商品評價</h2>
  <%= render partial: 'comments/comment_ranking', locals: {average_rating: @average_rating, product: @product} %>
  <% if user_signed_in? %>
    <%= form_with model: @product_comment, url: product_comments_path(@product.id) do |f| %>
      <div class="flex">
        <%= f.label "留下評論：", class: 'label'%>
        <div class="rating rating-md">
          <%= f.radio_button :rating, get_star_number(:star_0), class: "comment-star-hidden" , checked: "checked" %>
          <%= f.radio_button :rating, get_star_number(:star_1), class: "comment-star" %>
          <%= f.radio_button :rating, get_star_number(:star_2), class: "comment-star" %>
          <%= f.radio_button :rating, get_star_number(:star_3), class: "comment-star" %>
          <%= f.radio_button :rating, get_star_number(:star_4), class: "comment-star" %>
          <%= f.radio_button :rating, get_star_number(:star_5), class: "comment-star"%>
        </div>
      </div>
      <div class="flex items-end">
        <%= f.text_area :content, class: "comment-textarea w-full max-w-xs"%>
        <%= f.submit "Send", class: "comment-btn-sm" %>
      </div>
    <% end %>
  <% end %>
  <%# 當前產品評論 %>
  <section>
    <h3 class="m-2">評論：</h3>
    <div id="comment-list">
      <%= render partial: 'comments/comment', collection: @comment_records %>
    </div>
    <div class="flex justify-center my-4"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
  </section>
</div>
