<!DOCTYPE html>
<html>
  <head>
    <title>Marche</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# Banner CSS%>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>
  <body class="flex flex-col min-h-screen">
    <%= render 'shared/navbar' %>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render 'shared/footer', class: "flex-shrink-0 flex-basis-0" %>
    <%# Banner JQuery%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <script>
      $('.slider').not('.slick-initialized').slick({
        centerMode: true,
        centerPadding: '0px',
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        speed: 700,
        dots: true,
        arrows: true,
      });
    </script>
    <%# 熱門商品&最新商品 JQuery%>
    <script>
      $('.slider_hot').not('.slick-initialized').slick({
        infinite: false,
        slidesToShow: 6,
        slidesToScroll: 3,
        speed: 700,
        arrows: true,
        responsive: [
          {
            breakpoint: 1280,
            settings: {
              slidesToShow: 5,
              slidesToScroll: 3
            }
          },
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 3
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
        ]
      });
    </script>
  </body>
</html>
